@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-principal:#5A057F;
    --cor01:#822EA6;
    --cor02:#710A9D;
    --cor03:#490367;
    --cor04:#2c013e;

    --fonte-gay:'Dancing Script', cursive;
    --fonte-principal: Arial,Helvetica,sans-serif;
}
body{
    background-color: rgb(223, 221, 221);
    height: 100%;
}
header{
    padding: 35px;
    background-image: linear-gradient(to bottom,var(--cor04),var(--cor02));
}
header>h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 8px black;
    font-family: var(--fonte-gay);
    font-size: 2.5em;
}
nav{
    background-color: var(--cor03);
    padding: 12px;
}
nav>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fonte-principal);
    padding: 6px;
}
nav>a:hover{
    background-color: var(--cor02);
    border-radius: 15px;
}
nav>a:active{
    text-decoration: underline;
    background-color: var(--cor02);
    border-radius: 15px;
}
section{
    padding: 30px;
    min-height: 400px;
    max-height: 1000px;
}
article{
    margin: auto;
    min-height: 200px;
    max-height: 700px;
    min-width: 200px;
    max-width: 700px;
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.485);
}
article>h2{
    margin: 10px 0px;
    text-align: center;
}
article>p{
    text-align: justify;
    padding: 0px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    text-indent: 15px;
}
footer{
    background-color: var(--cor02);
    color: white;
    text-align: center;
    padding: 6px;
    font-weight: bold;
    text-shadow: 0px 0px 6px black;
    margin-bottom: 0px;
}
footer>a{
    color: white;
    text-decoration: none;
}